# 1. 똑같은 문장 3번 출력해보기 ( ex. 안녕하세요? for 문을 공부 중입니다. ^^)

In [10]:
print("안녕하세요")
print("안녕하세요")
print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

# 2. for문을 이용해서 똑같은 문장 3번 출력해보기

In [15]:
for i in range(0,3,1):
    print(i)

0
1
2

In [21]:
for i in range(8):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
7

# 3. for문을 사용하여 1~10까지 숫자 더하기

In [17]:

for i in range(11):
    if i == 0:
        sum1 = 0
    sum1=sum1+i
print(sum1)

55

# 4. for문을 사용하여 1~20까지 홀수만 더하기

In [18]:
sum_odd = 0
for i in range(21):
    if i % 2 == 1:
        sum_odd += i
#       sum_odd = sum_odd + i
print(sum_odd)

100

In [19]:
sum_odd = 0
for i in range(1,21,2):
    sum_odd = sum_odd + i
print(sum_odd)

100

In [20]:
sum_odd = 0
for i in range(10):
    sum_odd += i*2+1
print(sum_odd)

100

# 5. for문을 사용하여 1~100까지 3의 배수 더하기 6의 배수 x

In [22]:
sum3 = 0
for i in range(101):
    if i % 3 == 0 and i % 6 != 0:
        sum3 += i
print(sum3)

867

In [23]:
sum3 = 0
sum6 = 0
for i in range(101):
    if i % 3 == 0:
        sum3 += i
    if i % 6 == 0:
        sum6 += i
print(sum3-sum6)

867

# 6. for문을 사용하여 500과 1000사이 홀수 더하기

In [24]:
sum_odd = 0
for i in range(500, 1001, 1):
    if i % 2 == 1:
        sum_odd += i
print(sum_odd)

187500

In [25]:
sum_odd = 0
for i in range(1001):
    if i == 500:
        sum_odd = 0
    if i % 2 == 1:
        sum_odd += i
print(sum_odd)

187500

# 7. 입력값을 통해 1부터 입력 값 까지의 숫자 더하기

In [27]:
x = int(input("어디서부터 숫자를 더할까요? : "))
y = int(input("어디까지 더할까요? : "))
z = int(input("몇 배수만을 더할까요? : "))
sum_all = 0
for i in range(x, y+1, 1):
    if i % z == 0:
        sum_all += i
print(sum_all)

어디서부터 숫자를 더할까요? : 15
어디까지 더할까요? : 300
몇 배수만을 더할까요? : 7
6300

# 8. 시작값, 끝값, 증가값을 입력받아 모든 값의 합계 구하기

In [28]:
x = int(input("어디서부터 숫자를 더할까요? : "))
y = int(input("어디까지 더할까요? : "))
z = int(input("얼마의 간격으로 더할까요?"))

sum_all = 0
for i in range(x, y+1, z):
    sum_all += i
print(sum_all)

어디서부터 숫자를 더할까요? : 1
어디까지 더할까요? : 90
얼마의 간격으로 더할까요?2
2025

In [37]:
for i in 'abcdef':
    print(i)

a
b
c
d
e
f

In [34]:
for i in [0,3,7,9]:
    print(i)

0
3
7
9

# 9. 구구단 9단 출력하기

In [38]:
for i in range(1,10,1):
    print("9 x %d = %d" %(i, 9*i))

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 10. 원하는 구구단 입력받아 출력하기

In [39]:
gugu = int(input("원하는 구구단을 입력하세요. : "))
for i in range(1,10,1):
    print("%d x %d = %d" %(gugu, i, gugu*i))

원하는 구구단을 입력하세요. : 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

# 11. for문 속의 for문을 실행시키면 변수가 어떻게 증가하는지 보기

In [19]:
for i in range(3):
    for k in range(2):
        print("i : %d, k : %d" %(i,k))

i : 0, k : 0
i : 0, k : 1
i : 1, k : 0
i : 1, k : 1
i : 2, k : 0
i : 2, k : 1

# 12. 전체 구구단 출력하기

In [29]:
for i in range(1,10,1):
    for j in range(1,10,1):
        print("%d x %d = %2d  " %(j, i, i*j), end=' ')
    print('')

1 x 1 =  1   2 x 1 =  2   3 x 1 =  3   4 x 1 =  4   5 x 1 =  5   6 x 1 =  6   7 x 1 =  7   8 x 1 =  8   9 x 1 =  9
1 x 2 =  2   2 x 2 =  4   3 x 2 =  6   4 x 2 =  8   5 x 2 = 10   6 x 2 = 12   7 x 2 = 14   8 x 2 = 16   9 x 2 = 18
1 x 3 =  3   2 x 3 =  6   3 x 3 =  9   4 x 3 = 12   5 x 3 = 15   6 x 3 = 18   7 x 3 = 21   8 x 3 = 24   9 x 3 = 27
1 x 4 =  4   2 x 4 =  8   3 x 4 = 12   4 x 4 = 16   5 x 4 = 20   6 x 4 = 24   7 x 4 = 28   8 x 4 = 32   9 x 4 = 36
1 x 5 =  5   2 x 5 = 10   3 x 5 = 15   4 x 5 = 20   5 x 5 = 25   6 x 5 = 30   7 x 5 = 35   8 x 5 = 40   9 x 5 = 45
1 x 6 =  6   2 x 6 = 12   3 x 6 = 18   4 x 6 = 24   5 x 6 = 30   6 x 6 = 36   7 x 6 = 42   8 x 6 = 48   9 x 6 = 54
1 x 7 =  7   2 x 7 = 14   3 x 7 = 21   4 x 7 = 28   5 x 7 = 35   6 x 7 = 42   7 x 7 = 49   8 x 7 = 56   9 x 7 = 63
1 x 8 =  8   2 x 8 = 16   3 x 8 = 24   4 x 8 = 32   5 x 8 = 40   6 x 8 = 48   7 x 8 = 56   8 x 8 = 64   9 x 8 = 72
1 x 9 =  9   2 x 9 = 18   3 x 9 = 27   4 x 9 = 36   5 x 9 = 45   6 x 9 = 54   7 x 9 = 63   8 x 9 = 72   9 x 9 = 81

# 13. 전체 구구단 거꾸로 출력하기

In [30]:
for i in range(1,10,1):
    for j in range(9,0,-1):
        print("%d x %d = %2d " %(j,i,i*j), end='')
    print('')

9 x 1 =  9 8 x 1 =  8 7 x 1 =  7 6 x 1 =  6 5 x 1 =  5 4 x 1 =  4 3 x 1 =  3 2 x 1 =  2 1 x 1 =  1
9 x 2 = 18 8 x 2 = 16 7 x 2 = 14 6 x 2 = 12 5 x 2 = 10 4 x 2 =  8 3 x 2 =  6 2 x 2 =  4 1 x 2 =  2
9 x 3 = 27 8 x 3 = 24 7 x 3 = 21 6 x 3 = 18 5 x 3 = 15 4 x 3 = 12 3 x 3 =  9 2 x 3 =  6 1 x 3 =  3
9 x 4 = 36 8 x 4 = 32 7 x 4 = 28 6 x 4 = 24 5 x 4 = 20 4 x 4 = 16 3 x 4 = 12 2 x 4 =  8 1 x 4 =  4
9 x 5 = 45 8 x 5 = 40 7 x 5 = 35 6 x 5 = 30 5 x 5 = 25 4 x 5 = 20 3 x 5 = 15 2 x 5 = 10 1 x 5 =  5
9 x 6 = 54 8 x 6 = 48 7 x 6 = 42 6 x 6 = 36 5 x 6 = 30 4 x 6 = 24 3 x 6 = 18 2 x 6 = 12 1 x 6 =  6
9 x 7 = 63 8 x 7 = 56 7 x 7 = 49 6 x 7 = 42 5 x 7 = 35 4 x 7 = 28 3 x 7 = 21 2 x 7 = 14 1 x 7 =  7
9 x 8 = 72 8 x 8 = 64 7 x 8 = 56 6 x 8 = 48 5 x 8 = 40 4 x 8 = 32 3 x 8 = 24 2 x 8 = 16 1 x 8 =  8
9 x 9 = 81 8 x 9 = 72 7 x 9 = 63 6 x 9 = 54 5 x 9 = 45 4 x 9 = 36 3 x 9 = 27 2 x 9 = 18 1 x 9 =  9

# 14. while문으로 문장 3번 출력하기

In [34]:
i = 0
while i<3:
    i = i+1
    print("Hello")

Hello
Hello
Hello

# 15. while문으로 1~10까지 합 구하기

In [38]:
i = 0
sum_all = 0
while i<10:
    print("더하기전",i,end=' ')
    
    i = i+1
    sum_all = i+sum_all
    print("더한후",i)
    
print(sum_all)

더하기전 0 더한후 1
더하기전 1 더한후 2
더하기전 2 더한후 3
더하기전 3 더한후 4
더하기전 4 더한후 5
더하기전 5 더한후 6
더하기전 6 더한후 7
더하기전 7 더한후 8
더하기전 8 더한후 9
더하기전 9 더한후 10
55

# 16. 3-6-9 게임

In [43]:
i = 0
while i<100:
    i += 1
    if (i%10) % 3 == 0 and i%10 != 0:
        print(" 짝 ", end = ' ')
    else: print(" %2d" %(i), end = ' ')
    if i % 10 == 0:
        print('')

  1   2  짝    4   5  짝    7   8  짝   10
 11  12  짝   14  15  짝   17  18  짝   20
 21  22  짝   24  25  짝   27  28  짝   30
 31  32  짝   34  35  짝   37  38  짝   40
 41  42  짝   44  45  짝   47  48  짝   50
 51  52  짝   54  55  짝   57  58  짝   60
 61  62  짝   64  65  짝   67  68  짝   70
 71  72  짝   74  75  짝   77  78  짝   80
 81  82  짝   84  85  짝   87  88  짝   90
 91  92  짝   94  95  짝   97  98  짝   100

# 17. 무한루프로 숫자 더하기

In [46]:
i = 0
sum_all = 0 
while True:
    i = i+1
    if ghvhgjv:
        break
print(i)

1

# 18. 무한루프로 연산하기

# 19. break로 무한루프 빠져나오기

In [ ]:
i = 0
while True:
    if i == 10:
        break
    i += 1

# 20. 1부터 숫자를 더할때 최초로 총합이 1000이 넘는 숫자 알기

In [47]:
i = 0
sum_all = 0
while True:
    i = i+1
    sum_all += i
    if sum_all > 1000:
        break
print("%d까지 더하면 총합이 %d입니다." %(i, sum_all))

45까지 더하면 총합이 1035입니다.

# 성적 산출하기

In [54]:
sum_all = 0
num = 0
for i in [20,30,40,70,110,20,130,5]:
    if i>100 or i<0:
        continue
    sum_all = sum_all+i
    num += 1
print(sum_all/num)

30.833333333333332

# 21. continue문을 사용하여 1~100에서 3의 배수가 아닌 숫자들의 합 구하기

In [55]:
sum_all = 0
for i in range(101):
    if i % 3 != 0:
        continue
    sum_all += i
print(sum_all)

3367

# 22. 온도변환 표 출력하기

In [60]:
for i in range(0,101,10):
    print("%3d --> %6.2f" %(i, (i-32)*5/9))

  0 --> -17.78
 10 --> -12.22
 20 -->  -6.67
 30 -->  -1.11
 40 -->   4.44
 50 -->  10.00
 60 -->  15.56
 70 -->  21.11
 80 -->  26.67
 90 -->  32.22
100 -->  37.78

In [61]:
i = 0
while True:
    print("%3d --> %6.2f" %(i, (i-32)*5/9))
    i += 10
    if i == 110:
        break

  0 --> -17.78
 10 --> -12.22
 20 -->  -6.67
 30 -->  -1.11
 40 -->   4.44
 50 -->  10.00
 60 -->  15.56
 70 -->  21.11
 80 -->  26.67
 90 -->  32.22
100 -->  37.78

# 23. 별표(*)로 여러가지 모양 만들기

In [65]:
for i in range(4):
    for j in range(i*3):
        print(j, end='')
    print('')

012
012345
012345678

In [72]:
print("    *")
print("   ---")
print("  *****")
print(" -------")
print("*********")
print(" -------")
print("  *****")
print("   ---")
print("    *")

    *
   ---
  *****
 -------
*********
 -------
  *****
   ---
    *

In [75]:
for i in range(4):
    if i % 2 == 0:
        print(' '*(4-i),"*"*(2*i+1))
    else:
        print(' '*(4-i),"-"*(2*i+1))
for i in range(5):
    if i % 2 == 0:
        print(' '*i,"*"*(9-2*i))
    else: print(' '*i,"-"*(9-2*i))

     *
    ---
   *****
  -------
 *********
  -------
   *****
    ---
     *

In [77]:
for i in range(-4,5,1):
    if i<0:
        if i % 2 == 0:
            print(" "*-i,"*"*((4+i)*2+1))
        else:print(" "*-i,"-"*((4+i)*2+1))
    else:
        if i % 2 == 0:
            print(" "*i,"*"*(9-2*i))
        else:print(" "*i,"-"*(9-2*i))

     *
    ---
   *****
  -------
 *********
  -------
   *****
    ---
     *